<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Home</a></h1>
    <h1><a href="/navigation/about/">FirstApp/ About</a></h1>
    <h1><a href="/navigation/contact/">FirstApp/ Contact</a></h1>

    <h1>{{Welcome | title}}</h1>
    <h1>{{Date| time:"H\h i\m" }}</h1>

    <h1>{{About | wordcount}}</h1>

    <h1>{{About | truncatewords:40}}</h1>


    <h4>It is {% now "D M Y H " %}</h4>


</body>
</html>